modules = ["python-3.12", "bash"]
compile = "make"
run = "yt-dlp"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "yt-dlp"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39761901
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
